{% extends 'paginas/base.html' %}

{% block titulo %} Registro de Doctor {% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 420px;">
    
    <!-- Encabezado -->
    <div class="text-center mb-4">
      <h2 class="fw-bold text-primary">Registro</h2>
      <h5 class="text-secondary">Doctor</h5>
    </div>
     
    <!-- Formulario -->
    <form method="POST" class="form-login">
      {% csrf_token %}

      <!-- Renderiza el formulario pero con estilo Bootstrap -->
      <div class="mb-3">
        {{ form.as_p }}
      </div>

      <div class="d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
          <a class="btn btn-outline-danger" href="{% url 'inicio' %}">>⬅ Regresar</a>
      </div>
    </form>

    <!-- Link de acceso -->
    <p class="mt-4 text-center">
      <a href="{% url 'doctor_login' %}">¿Ya tienes cuenta? Inicia sesión</a>
    </p>
  </div>
</div>
{% endblock %}



 