{% extends "paginas/base.html" %}

{% block titulo %} Recuperar contraseña {% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 420px;">
    <div class="text-center mb-4">
      <h2 class="fw-bold text-primary">Restablecer contraseña</h2>
    </div>

    <form method="post" class="form-login">
      {% csrf_token %}

      <!-- Campo Usuario -->
     <div class="d-grid gap-2 mt-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
          <div class="text-danger small">{{ form.username.errors }}</div>
        {% endif %}
      </div>

      <!-- Campo NIP -->
     <div class="d-grid gap-2 mt-3">
        {{ form.nip.label_tag }}
        {{ form.nip }}
  
        {% if form.nip.help_text %}
            <small class="text-danger small">{{ form.nip.help_text }}</small>
        {% endif %}
  
        {% if form.nip.errors %}
            <div class="text-danger small">{{ form.nip.errors }}</div>
        {% endif %}
        </div>


      <!-- Campo Nueva Contraseña -->
      <div class="d-grid gap-2 mt-2">
        {{ form.nueva_contrasena.label_tag }}
        {{ form.nueva_contrasena }}
        {% if form.nueva_contrasena.errors %}
          <div class="text-danger small">{{ form.nueva_contrasena.errors }}</div>
        {% endif %}
      </div>


    <div class="d-grid gap-2 mt-3">
      <button type="submit" class="btn btn-primary btn-lg">Restablecer contraseña</button>
    </div>
    </form>

    <p class="mt-4 text-center">
      <a href="{% url 'doctor_login' %}">Volver al login</a>
    </p>

    {% if messages %}
      <ul class="alert alert-warning mt-2">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}



