{% extends "paginas/base.html" %}

{% block titulo %}Doctor registrado con éxito{% endblock %}

{% block contenido %}
<div class="container mt-5">
  <div class="card shadow rounded-4">
    <div class="card-header bg-success text-white text-center fs-4">
      ✅ Doctor Registrado
    </div>
    <div class="card-body p-4 text-center">
      <p class="fs-5">El doctor <strong>{{ PerfilDoctor.user }}</strong> ha sido registrado correctamente.</p>

      <div class="mt-4 d-flex justify-content-center gap-3">
        <a href="{% url 'doctor_login' %}" class="btn btn-primary px-4">
          Iniciar sesión
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
